<a href="https://colab.research.google.com/github/arridoarfiadi/StarData-Research/blob/main/Python%20Basics/Pandas_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Pandas

## What is Pandas?
It is a python lib that makes working with "relational" or "labeled" data both easy and intuitive.

## Why use Pandas?
*   Well maintained by a strong legitimate community. And everyone pretty much uses it in the data community.
* Easier to manipulate the data in comparison to spreadsheet and sql

# Pandas Series
One dimensional / One column

## Creating Pandas Series

In [ ]:
import pandas as pd

normalPythonArray = [21, "string", 3.14, "b"]
pd.Series(normalPythonArray)

0        21
1    string
2      3.14
3         b
dtype: object

In [ ]:
normalPythonDictionary = {"a": 21, "b": "string", "d": 3.14, "c": "b"}
all = pd.Series(normalPythonDictionary)
onlySelectIndex = pd.Series(normalPythonDictionary, index=["b"])

print("All")
print(all)
print("----")
print("Select Index")
print(onlySelectIndex)

All
a        21
b    string
d      3.14
c         b
dtype: object
----
Select Index
b    string
dtype: object

## Indexing and Slicing Pandas Series

In [ ]:
a = [21, "string", 3.14, "b"]
print(a[0])
print(a[1:3]) #does not include index 3

b = {"a": 32, "b": "random", "d": 5.1313, "c": "z"}
b = pd.Series(b)
print(b['a'])
print(b['a': 'd']) #inclusive of d

21
['string', 3.14]
32
a        32
b    random
d    5.1313
dtype: object

## Manipulating Pandas Series

In [ ]:
# Adding
data = [1,2,3,4,5]
s = pd.Series(data)
s[5] = 6
print("Adding")
print(s)

# Modify
s[1] = 9000
print("Modify")
print(s)

# Removing
s.drop(1)
print("Removed")
print(s)

# Filtering
print("Filtered by value")
s[s > 2]

Adding
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Modify
0       1
1    9000
2       3
3       4
4       5
5       6
dtype: int64
Removed
0       1
1    9000
2       3
3       4
4       5
5       6
dtype: int64
Filtered by value

1    9000
2       3
3       4
4       5
5       6
dtype: int64

# Pandas DataFrames
Classic use of pandas: multiple column and rows

## Creating Pandas DataFrames

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 45],
    'Country': ['USA', 'Canada', 'UK', 'Australia', 'New Zealand'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)
df

      Name  Age      Country  Salary
0    Alice   25          USA   50000
1      Bob   30       Canada   60000
2  Charlie   35           UK   70000
3    David   40    Australia   80000
4    Emily   45  New Zealand   90000

## Indexing and Slicing Pandas DataFrames

### iloc vs loc
- iloc: slicing/filtering by index
- loc: slicing/filtering by the value

In [ ]:
# iloc
df.iloc[2:5] #excluding index 5
df.iloc[0,:] #getting the first row
#[row, column]
df.iloc[:2,:2] #getting first two rows AND first two column
df.iloc[0:5:2, 0:4:2] # starting:end:interval

      Name      Country
0    Alice          USA
2  Charlie           UK
4    Emily  New Zealand

In [ ]:
# loc
df.loc[2:5] #same with iloc
df.loc[[2, 3]] #grabbing multiple rows
df.loc[df.Country=="UK"] #grabbing country UK
df.loc[df.Country=="UK", "Country"] = "Indonesia" #replacing index 1 to country IDN
df

      Name  Age      Country  Salary
0    Alice   25          USA   50000
1      Bob   30       Canada   60000
2  Charlie   35    Indonesia   70000
3    David   40    Australia   80000
4    Emily   45  New Zealand   90000

## Manipulating Pandas DataFrames

In [ ]:
# Using loc
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 45],
    'Country': ['USA', 'Canada', 'UK', 'Australia', 'New Zealand'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)
df.loc[df.Country=="UK", "Country"] = "Indonesia" #replacing index 1 to country IDN
df

      Name  Age      Country  Salary
0    Alice   25          USA   50000
1      Bob   30       Canada   60000
2  Charlie   35    Indonesia   70000
3    David   40    Australia   80000
4    Emily   45  New Zealand   90000

In [ ]:
from numpy import NaN
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 45],
    'Country': ['USA', 'Canada', 'UK', 'Australia', NaN],
    'Salary': [50000, NaN, 70000, NaN, 90000]
}

#drops
df = pd.DataFrame(data)
df.drop(columns=['Salary', 'Country']) #Dropping columns (not inplace)
df.drop(df[df.Salary <60000].index) #drop rows with salary less than
df.dropna() #drop nans
df.dropna(axis=1, how="all") #drop nans if all salary column values are NaN

# adding rows
new_data = {'Name': ['Emily', 'Frank'], 'Age': [45, 50]}
new_df = pd.DataFrame(new_data)
df_2 = df.append(new_df, ignore_index=False)

# adding columns
df["Gender"] = NaN
df["Gender"] = ["F", "M", "F", "TF", "NB"] #has to be the same lenght

# replace nan
df.fillna(0) #this will replace NaN on every column
df_3 = df.copy()
df_3.Salary = df_3.Salary.fillna(0)

# sorting
df.sort_values(by="Salary", ascending=True)

<ipython-input-126-347c8ce54105>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_2 = df.append(new_df, ignore_index=False)

      Name  Age    Country   Salary Gender
0    Alice   25        USA  50000.0      F
2  Charlie   35         UK  70000.0      F
4    Emily   45        NaN  90000.0     NB
1      Bob   30     Canada      NaN      M
3    David   40  Australia      NaN     TF

# Data Cleaning and Preparation

In [ ]:
import numpy as np
import pandas as pd

# create example dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    'B': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 200]
})

# Finding the values or index that you want to filter/clean out
# calculate z-score for each column
z_scores = (df - df.mean()) / df.std()

# set threshold for outliers (e.g. z-score > 3 or < -3)
threshold = 3

# create boolean mask for outliers
outlier_mask = (abs(z_scores) > threshold).any(axis=1)

# filter dataframe to exclude outliers
df_no_outliers = df[~outlier_mask]
df_no_outliers

    A   B
0   1  11
1   2  12
2   3  13
3   4  14
4   5  15
5   6  16
6   7  17
7   8  18
8   9  19
9  10  20

In [ ]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    'B': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 200]
})

# calculate the interquartile range (IQR)
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

# remove outliers from the 'B' column
df = df[~((df['B'] < (Q1['B'] - 1.5 * IQR['B'])) | (df['B'] > (Q3['B'] + 1.5 * IQR['B'])))]

# show the resulting dataframe without outliers in the 'B' column
print(df)

    A   B
0   1  11
1   2  12
2   3  13
3   4  14
4   5  15
5   6  16
6   7  17
7   8  18
8   9  19
9  10  20

# Data Transformation

## Normalization - Goal: uses scaling, but also ensures that each feature has same level of importance or weight.

In [ ]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [100, 200, 300, 400]})

# Define the min-max scaling function
def min_max_scale(column):
    return (column - column.min()) / (column.max() - column.min())

# Apply the min-max scaling function to the DataFrame
df_norm = df.apply(min_max_scale)

# Print the normalized DataFrame
print(df_norm)

          A         B
0  0.000000  0.000000
1  0.333333  0.333333
2  0.666667  0.666667
3  1.000000  1.000000

## Scaling - its a subset of normalization. Goal: that each feature is within the same scale.

In [ ]:
#Scaling: Scaling involves transforming the values of a variable to
#fit within a specific range and by making the mean 0.
import pandas as pd
from sklearn.preprocessing import StandardScaler

df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [100, 200, 300, 400]})


# create a StandardScaler object
scaler = StandardScaler()
df['A'] = scaler.fit_transform(df[['A']])

df['A']
# print(df['A'].std())

0   -1.341641
1   -0.447214
2    0.447214
3    1.341641
Name: A, dtype: float64

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 45],
    'Country': ['USA', 'USA', 'UK', 'UK', 'New Zealand'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)
grouped = df.groupby('Country')['Salary'].mean()
grouped = df.groupby('Country').agg({'Salary': 'sum', 'Age': 'median'})
grouped

             Salary   Age
Country
New Zealand   90000  45.0
UK           150000  37.5
USA          110000  27.5

# Encoding



*   For categorical/binary variables, consider using LabelEncoder, OneHotEncoding or Binary Encoding. Be sure to look at model preqrequisites
*   For textual data, consider using bag-of-words encoding, TF-IDF, or word embeddings. Be sure to look at model prerequisites

# Data Imputation



*   Missing data - you can fill it with a 0, mean, model, median, or use a predictive model to fill in the void.

In [ ]:
# example: fill in missing values using a KNN model
import numpy as np
from sklearn.impute import KNNImputer
nan = np.nan
X = [[1, 2, nan], [3, 4, 3], [nan, 6, 5], [8, 8, 7]]
imputer = KNNImputer(n_neighbors=2, weights="uniform")
imputer.fit_transform(X)

array([[1. , 2. , 4. ],
       [3. , 4. , 3. ],
       [5.5, 6. , 5. ],
       [8. , 8. , 7. ]])

# Feature Engineering

## making new features based on existing features

In [ ]:
import pandas as pd

# Create a sample DataFrame of housing data
df = pd.DataFrame({'bedrooms': [3, 2, 4, 3, 2],
                   'bathrooms': [2, 1, 3, 2, 1],
                   'square_footage': [1500, 1200, 2000, 1800, 1000],
                   'year_built': [1985, 1970, 1990, 1980, 1965],
                   'sale_price': [250000, 200000, 350000, 300000, 175000]})

# Create a new feature for the age of the house
current_year = 2023
df['age'] = current_year - df['year_built']

# Create a new feature for price per square foot
df['price_per_sqft'] = df['sale_price'] / df['square_footage']

# Create a new feature for the total number of rooms
df['total_rooms'] = df['bedrooms'] + df['bathrooms']

df.head()

,bedrooms,bathrooms,square_footage,year_built,sale_price,age,price_per_sqft,total_rooms
0,3,2,1500,1985,250000,38,166.666667,5
1,2,1,1200,1970,200000,53,166.666667,3
2,4,3,2000,1990,350000,33,175.000000,7
3,3,2,1800,1980,300000,43,166.666667,5
4,2,1,1000,1965,175000,58,175.000000,3

# Data Merging and Joining

## Merging requires to have a common column between the dfs. Combine based on columm or index values. Result will have same columns just stacked results, similar to a SQL join

In [ ]:
import pandas as pd

# Create a sample DataFrame for customers
df1 = pd.DataFrame({'customer_id': [1, 2, 3, 4],
                    'customer_name': ['Alice', 'Bob', 'Charlie', 'David'],
                    'customer_email': ['alice@example.com', 'bob@example.com', 'charlie@example.com', 'david@example.com']})

# Create a sample DataFrame for orders
df2 = pd.DataFrame({'order_id': [101, 102, 103, 104, 105],
                    'customer_id': [1, 2, 1, 3, 4],
                    'order_total': [100, 200, 150, 300, 250]})

# Merge the two DataFrames on the 'customer_id' column
merged_df = pd.merge(df1, df2, on='customer_id')

# Print the merged DataFrame
print(merged_df)

## Concat - stacking things or side by side. Combine dfs with different columns, does not require a common column

In [ ]:
import pandas as pd

# Create the first data frame
df1 = pd.DataFrame({'student_id': [1, 2, 3, 4],
                    'student_name': ['Alice', 'Bob', 'Charlie', 'Dave']})

# Create the second data frame
df2 = pd.DataFrame({'student_id': [5, 6, 7, 8],
                    'student_name': ['Eve', 'Frank', 'Grace', 'Henry'],
                    'grade': [85, 90, 95, 80]})

# Concatenate the two data frames
merged_df = pd.concat([df1, df2])

# Print the merged data frame
print(merged_df)

   student_id student_name  grade
0           1        Alice    NaN
1           2          Bob    NaN
2           3      Charlie    NaN
3           4         Dave    NaN
0           5          Eve   85.0
1           6        Frank   90.0
2           7        Grace   95.0
3           8        Henry   80.0

# Multi-Indexing - a way to represent high dimensional data by creating hierarchical indexes

In [ ]:
import pandas as pd

# create sample sales data
data = {'Product': ['Product A', 'Product B', 'Product C', 'Product A', 'Product B', 'Product C'],
        'Region': ['Region 1', 'Region 1', 'Region 1', 'Region 2', 'Region 2', 'Region 2'],
        'Date': ['2020-01-01', '2020-01-01', '2020-01-01', '2020-01-02', '2020-01-02', '2020-01-02'],
        'Sales': [100, 200, 150, 250, 150, 100]}

df = pd.DataFrame(data)

# create multi-index with product, region, and date levels
df = df.set_index(['Product', 'Region', 'Date'])

# Sort the index levels
df = df.sort_index()

print(df)

                               Sales
Product   Region   Date
Product A Region 1 2020-01-01    100
          Region 2 2020-01-02    250
Product B Region 1 2020-01-01    200
          Region 2 2020-01-02    150
Product C Region 1 2020-01-01    150
          Region 2 2020-01-02    100

In [ ]:
print(df.loc[('Product A', 'Region 1'), 'Sales'].sum()) #sums up the sales where product index is Product A and Region is Region 1

100

In [ ]:
total_sales = df.loc[df.index.get_level_values('Region') == 'Region 1', 'Sales'].sum()
print(total_sales)

#this kinda defeats the purpose of having a multi-index as you're only summing
#one index... just more typing

450

# Pivot Tables

In [ ]:
 import pandas as pd

# Create a sample DataFrame
data = {'Product': ['Product A', 'Product A', 'Product B', 'Product B', 'Product C', 'Product C'],
        'Region': ['North', 'South', 'North', 'South', 'North', 'South'],
        'Sales': [100, 200, 300, 400, 500, 600]}
df = pd.DataFrame(data)
df

     Product Region  Sales
0  Product A  North    100
1  Product A  South    200
2  Product B  North    300
3  Product B  South    400
4  Product C  North    500
5  Product C  South    600

In [ ]:
# Create a pivot table
pivot_table = pd.pivot_table(df, values='Sales', index='Product', columns='Region', aggfunc='sum')

print(pivot_table)

Region     North  South
Product
Product A    100    200
Product B    300    400
Product C    500    600